{
  "test": {
    "test": [
      { "id": "ddd", "count": "count" },
      { "id": [ "year", "month", "day" ], "count": "{time}" },
      { "id": [ "year", "week" ], "count": "{wday}" },
      { "id": "key", "count": "cc" },
      { "id": [ "year", "year" ], "count": "{referer}", "type": "set" },
      { "id": [ "year", "year", "year" ], "count": "{referer_host}", "type": "set" }
    ]
  }
}
