{
  "visits": {
    "visits:{id}:30m:": [
      {
        "id": "{year}-{month}-{day}",
        "count": "{time_30m}",
        "custom_functions": [
          {
            "name": "mean",
            "args": [ "avg:{year}-w{week}", "{time_30m}" ]
          },
          {
            "name": "mean",
            "args": [ "avg:{year}-{month}", "{time_30m}" ]
          },
          {
            "name": "mean",
            "args": [ "avg:{year}", "{time_30m}" ]
          }
        ]
      }
    ],

    "visits:{id}:dow:": [
      {
        "id": "{year}-w{week}",
        "count": "{wday}",
        "custom_functions": [
          {
            "name": "mean",
            "args": [ "avg:{year}-{month}", "{wday}" ]
          },
          {
            "name": "mean",
            "args": [ "avg:{year}", "{wday}" ]
          }
        ]
      }
    ],

    "visits:{id}:": [
      { "id": "dom:{year}-{month}", "count": "{day}" },
      { "id": "week:{year}", "count": "{week}" },
      { "id": "total", "count": "count" }
    ]
  }
}
