{
  "view-visit": {


    "stats:iguide:{igid}:hourly": [
      {
        "id": "all:{year}-{month}-{day}-{hour}",
        "count": "visits",
        "custom_functions": [
          { "name": "loopMean", "args": ["{epoch}", "{day_sec}", "7", "!last7:all:%Y-%m-%d-%H"] },
          { "name": "loopMean", "args": ["{epoch}", "{day_sec}", "30", "!last30:all:%Y-%m-%d-%H"] },
          { "name": "mean", "args": ["!ever:all:{hour}"] }
        ]
      },
      {
        "id": "unique:{year}-{month}-{day}-{hour}",
        "count": "{unique}",
        "custom_functions": [
          { "name": "loopMean", "args": ["{epoch}", "{day_sec}", "7", "!last7:unique:%Y-%m-%d-%H"] },
          { "name": "loopMean", "args": ["{epoch}", "{day_sec}", "30", "!last30:unique:%Y-%m-%d-%H"] },
          { "name": "mean", "args": ["!ever:unique:{hour}"] }
        ]
      },
      {
        "id": "referer:{year}-{month}-{day}-{hour}",
        "count": "{referer}",
        "type": "set",
        "custom_functions": [
          { "name": "loopMean", "args": ["{epoch}", "{day_sec}", "7", "!last7:referer:%Y-%m-%d-%H"] },
          { "name": "loopMean", "args": ["{epoch}", "{day_sec}", "30", "!last30:referer:%Y-%m-%d-%H"] },
          { "name": "mean", "args": ["!ever:referer:{hour}"] }
        ]
      }
    ]

  }
}
